html {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 20%,
    rgba(238, 174, 202, 1) 80%
  );
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

a p {
  text-align: center;
  color: white;
}

a p:hover {
  color: black;
}

fieldset {
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
}

#loginPanel {
  margin: 5% 30%;
}

#loginPanel h1 {
  text-align: center;
  color: rgb(243, 19, 123);
}

#userPasswordForm {
  padding: 5%;
}

#userPasswordForm label,
input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  color: white;
}

#userPasswordForm input {
  width: 100%;
  color: black;
}

.userpw input{
  background: transparent;
}

#enviar {
  height: 50px;
  width: 40px;
  border-bottom: 0px;
  text-align: center;
  background-color: rgb(243, 19, 123);
  transition: background-color 1.5s;
  border-radius: 50px;
  cursor: pointer;
}

#enviar:hover {
  background-color: white;
  color: black;
}
