table{
    /* de la siguiente manera, hacemos que la tabla ocupe el 100% de la ventana */
    width: 100%;  
}

table, th, td{
    border: solid black 1px;
    border-collapse: collapse; /* esto es lo más común */
    border-spacing: 5px;
    padding: 5px;

}

caption{
    color: black;
    font-size: 35px;
    font-family: Roboto mono;
    line-height: 200%;
}

th{
    color: wheat;
    background-color: black;
}

tr:nth-child(even){
    background-color: grey;
}

tr:nth-child(odd){
    background-color: burlywood;
}
/* la función nth-child(even) selecciona los renglones pares */
/* la función nth-child(odd) selecciona los renglones impares */

/*
td {
    text-align: center;
}e

th{
    text-align: left;
}
*/
