h1{
    color: pink;
    text-align: center;
}

h2{
    color: purple;
}

p{
    color: darkolivegreen;
}

div{
    border: 10px solid darkred;
    background-color: wheat;
    text-align: center;
}